form {
   display: flex;
   flex-direction: column;
   height: 280px;
   justify-content: space-between;
}

.MuiDialog-paperWidthSm {
   width: 450px;
   min-height: 350px;
}

.dialog-title {
   border-bottom: 1px solid #8080802b;
   padding: 10px 0;
}